body{

}

.App {
  
  color: azure;

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 2% 0;

  
}

ul{
  list-style-type:none; 
  padding-left: 1rem;
}

.rm{
  margin-right: 1rem;
}

.TodoList{
  max-width: 1000px;
  min-width: 200px;
}
